html{
   height: 98%; 
   background-image: url('./img/background.png');
}

body{
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    width: auto;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
    font-size: 30px;
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

#left-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:fit-content;
    height: 100%;
    padding-right: 30px;
}

#right-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    margin-right: 0;
    transform: translateX(7%);
}

.right-bar-button{
    text-align: right;

    border-right: 0px solid black;
    padding-right: 5px;

    cursor: pointer;

    transition: border-width 0.2s linear;
}

.right-bar-button:hover{
    border-width: 6px;
}

.right-bar-button h3{
    font-size: 30px;
}

.selected{
    border-width: 4.5px;
    transition: border-width 0.09s linear;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#question{
    font-size: 30px;
    margin: 0;
}

#branch{
    margin-top: 10px;
    color: #AFAFAF;
}

#main-textarea{
    resize: none;
    width: 600px;
    height: 400px;
    outline: none;
    border: 2px solid #AFAFAF;
    border-radius: 5px;
    font-size: 15px;
}

button{
    margin: 0;
    margin-top: 15px;

    border: none;
    border-bottom: 0px solid black;

    background-color: transparent;

    transition: all 0.13s linear;

    font-size: 20px;
    font-family: 'Roboto Slab', serif;

    cursor: pointer;
}

button:hover{
    margin-top: 10px;
    border-width: 5px;
}

button:disabled{
    display:none;
}
#user-panel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    transform: translateY(-8%);
}

#user-img{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom:5px;
}

#user-panel button{
    margin: 0;
    margin-top: 20px
}

#user-img img{
    border-radius: 50%;
    margin: auto;
}

.vertical-separator
{
    background-color: #AFAFAF;
    width: 3px;
    height: 90%;

    margin: 2px;
}